html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root{
  --txt: #025a4e;
  --txt-scn: #2e615e;
  --backg: #ede9de;
  --backg-scn: #e3ddce;

}

#menu{
  margin-top: 0.2rem;
  margin-left: 1rem;
  bottom: 1rem;
  position: fixed;
  height:30px;
  z-index: 10000;
  display: block;
}

#menu1{
  margin-top: 0.2rem;
  margin-left: 1rem;
  top: 0.3rem;
  position: fixed;
  display: none;
  height:30px;
}
.hidden{
  display: none;

}
.arrow{
  transform: rotate(-90deg);
  display: flex;
  padding-bottom: 1.4rem;
  font-size: 26px;
}
.expandable-button {
  position: fixed;
  top:2.3rem;
  padding-left: 0;
  right:0.0001rem;
  display: flex;
  align-items: center;
  background-color: var(--txt);
  color: var(--backg);
  /* padding: 10px 20px; */
  
  /* border: 1px solid black; */
  border: 0.1px solid var(--backg);
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  border-radius: 88px 66px 44px 22px/22px 44px 66px 88px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
  transition: width 0.1s ease, background-color 0.1s ease, color 0.1s ease-out;
  width: 35px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}

.expandable-button #clr {
  opacity: 0;
  transition: opacity 50ms ease;
  white-space: nowrap;
}


.c{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.construction{
  display: flex;
    flex-direction: column;
    
    align-items: center;
    overflow: hidden;
    /* flex-wrap: wrap; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 2rem;
     top: 20vh;
    /*bottom: 20vh;
    left: 20vw;
    right: 20vw; */
    text-align: center;
    /* margin-inline: auto; */
    /* margin-top: 25vh; */
    /* margin-bottom: 80px; */
  /* margin-left: auto; */
    
    position: fixed;
    z-index: 1001;
    /* width: auto; */
    
  
    border-radius: 16px;
    background-color: var(--txt);
    color: var(--backg);
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    box-shadow: 6px 6px 0px #1B1B1B;

}

button{
  cursor: pointer;
  color: var(--backg);
  background-color:var(--txt);
    color: var(--backg);
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    box-shadow: 2px 1.5px 0px #1B1B1B;
    border-radius: 16px;
    padding: 16px 16px 16px 16px;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;

}


#cv{
  
  border-radius: 88px 16px 44px 92px/32px 44px 66px 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
/* #cv:hover{
background-color: var(--backg);
color: var(--txt);
} */

#visitt{
  cursor: pointer;
  color: var(--backg);
  background-color:var(--txt);
    color: var(--backg);
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    box-shadow: 6px 6px 0px #1B1B1B;
    border-radius: 16px;
    padding: 16px 16px 16px 16px;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
}

#visitt:hover{
  background-color:var(--backg);
  color:var(--txt);
}

.prevent-scrolling {

  position: fixed;

  width: 100%; 
}
.underconstruction  {
  /* background-color: var(--backg); */
  filter: blur(20px);
  /* height: 100%;  */
  /* overflow: hidden; */
}
/* navigation start */
.navigation {
  animation: none;
  position: fixed;
  visibility: hidden;
  /* overflow: auto; */
  list-style: none;
  z-index: 1000;
  transition: 600ms ease;
  /* margin: 10px 10px; */
  /* background: rgb(255, 255, 255); */
     /* background:  antiquewhite; */
  /* border-radius: 15px; */
  /* border-style:solid; */
  /* border-color: rgb(93, 23, 93); */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  /* flex-wrap: wrap; */
  /* overflow:hidden; */
  /* flex-grow: 1; */
  
  /* justify-content:center; */
  /* border: 1px solid var(--bricks-color-ed8078); */
  /* align-items: center; */
  /* border-radius: 5px ; */
  /* width: 100vw; */
  /* padding-left: 0; */
  /* margin-inline: auto; */
  
  background-color:var(--backg);
  /* padding-right: 20px; */
}





.navigation a {
  font-family: "Advent Pro", sans-serif;
  text-decoration: none;
  text-align: center;
  /* display: block; */
  /* top:5px; */
  /* width:60%; */
  /* z-index: 1; */
  /* min-height: 50px; */
  margin: 0 5px;
  /* padding-top: 10px; */
  /* color: darkmagenta;  */
  color: var(--txt);
  font-weight: 600;
  line-height: normal;
  font-size: 28px;
  transition: all 250ms ease;
  opacity: 1;
}




.navigation a:hover {

  opacity: 0.9;
  font-weight:800;
  /* color: darkmagenta;  */
        /* font-weight: bolder; */
        /* text-shadow: -1px 1px 0 #ffffff,
                1px 1px 0 #ffffff,
                1px -1px 0 #ffffff,
                -1px -1px 0 #ffffff; */
}
/* navigation end */

hr {
  border: 0;
  height: 1px;
  width: 70%;
  margin-inline: auto;
  background-image: linear-gradient(to right, rgba(2, 90, 78, 0), var(--txt), rgba(2, 90, 78, 0));
}
.footer{
  align-self: center;
  text-align: center;
  display: block;
  /* margin-inline: auto; */
  color: var(--txt);
  font-family: "Waterfall", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}
.space{
  height: 150px;
  
}

.hh{
  color: var(--txt);
margin-left: 1rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation.visible {
  visibility: visible;
}

#menu.shifted {
  margin-left: 1.5rem;
}





/* small screens */
@media all and (max-width:756px) {
  .navigation  {
    display: flex;
    animation: slideUp 0.5s ease-out forwards;
    /* flex-direction: column; */
    bottom: 0;
    height: 3rem;
    align-items: center;
    width: 100vw;
    gap:3rem;
    visibility: visible;
    /* padding-top: 10px; */
    justify-content: space-around;
    border-top: 7px solid var(--txt);
    border-left: 3px solid var(--txt);
    border-right: 3px solid var(--txt);
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
  }

  .navigation a{
    /* flex: 1 1 100%; */
  }
  .under-nav{
    padding: 0 3rem;
    min-height: 100vh;
    
  }
  #contact {
    margin-top: 6rem;
    scroll-margin-top: 10px; 
  }
  .footer{
    /* margin: 0 3rem; */
  margin-bottom: 3.4rem;
  font-size: 20px;
  font-weight: 700;
  }
  #menu1{display: none;}
  .construction{
    width: 15rem;
  }

  #clr{
    opacity: 0;
    visibility: hidden;
    height: 25px;
    width: 25px;
    font-weight: 800;
    border: 1px solid #1B1B1B;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #1B1B1B;
    border-radius: 10px;
  }

  #menu{
    visibility: hidden;
  }
  #cv{
    margin: 1rem ;
  }


  .expandable-button{
    height: 50px;
    padding-left: 0.1rem;}

  .expandable-button.expanded{
    width: 60px;
    height: 50px;
    
  
    /* background-color: transparent; */
    color: transparent;
    border: none;
    transform: background-color none ;
  }
  
  .expandable-button.expanded #clr {
    opacity: 1;
    margin-right: 10px;
    margin-block: 15px;
    /* border: 4px solid black; */
    /* padding-bottom: 2px; */
    /* padding-top: 10px; */
    visibility: visible;
    /* pointer-events: auto; */
    
  }

  .arrow{
    padding-block: auto;
  }

  .logo{
    background-color: var(--backg);
    width: 100vw;
  }

  .x{
    display: none;
  }
}

  /* big screens */
@media all and (min-width:756px) {
  .navigation  {
    margin-top: 0.2px;
    display: flex;
    animation: slideRight 0.5s ease-out forwards;
    flex-direction: column;
    height: 100vh;
  width: 5.3rem;
  top:0;
  gap: 6rem;
  padding: 10px;
  border-right: 8px solid var(--txt);
  border-top: 3px solid var(--txt);
  border-bottom: 3px solid #025a4e;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border-radius: 10px; */
  }
  .under-nav{
    margin-left: 6rem;
  }
  .footer{
    /* margin-inline-start: auto; */
  margin-bottom: 1rem;
  margin-left: 9.8rem;
  font-weight: 300;
  }
  #contact {
    margin-top: 6rem;
    scroll-margin-top: 150px; 
  }

  .construction{
    /* height: 15rem; */
    /* width: 30vw; */
  }
  #cv{
    position: fixed;
    /* background: linear-gradient(170deg, rgba(49, 57, 73, 0.8), rgba(41, 48, 61, 0.6), rgba(31, 36, 46, 0.8), rgba(2, 90, 78, 0.8)), #025a4e; */

    bottom: 1rem;
    right: 1rem;
  }

  /* #cv:hover{
      text-decoration: underline;
      transition: text-decoration 3s ease-in, font-weight 3s ease-in; 
      /* font-weight: bolder; *

  } */

  #clr{
    position: fixed;
    bottom: 1.3rem;
    height: 40px;
    width: 40px;
    font-weight: 800;
    border: none;
    box-sizing: none;
    box-shadow: none;
    border-radius: none;
    /* border: 2px solid #1B1B1B; */
    /* box-sizing: border-box; */
    /* box-shadow: 6px 6px 0px #1B1B1B; */
    /* border-radius: 16px; */
  }
  .expandable-button:hover{
    width: 50px;
    height: 80px;
    color: transparent;
    border: 4px solid var(--txt);
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    border-right: 1px solid var(--backg);
    transform: background-color none ;
    /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  border-top-right-radius: none;
    
  }
  
  .expandable-button:hover #clr {
    opacity: 1;
    margin-right: 5px;
    padding-top: 1.35rem;
    margin-top: 2.3rem;
    /* padding-bottom: 2px; */
    /* padding-top: 10px; */
    
    
  }
} 
@media all and (max-width:430px) {
  .navigation  {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    bottom: 0;
    height: 3rem;
    width: 100vw;
    align-items: center;
    gap: 25px;
    justify-content: center;
  }
  .navigation a{
    /* font-size: 18px; */
    /* font-weight: 800; */
    padding-inline: auto;
    flex: 0;
    
  }
  .construction{
    height: 15rem;
  }
}
@media all and (max-width:340px) {
  .construction  {
    /* font-size: larger; */}
  #visitt{
    height: 50px;
    font-size: small;
  }
  }

@media all and (max-width:320px) {
  .navigation {
    display:flex;
    text-align: center;
    bottom: 0;
    height: 3rem;
    width: 100vw;
    align-items: center;
    gap: 10px;
    justify-content: center;
   }
   .construction > *{
    /* font-size: larger; */
   }

    }
@media all and (max-width:310px) {
  .navigation a{
    flex-shrink: 3;
  }
  }


#home{
  margin-top: 2rem;
  scroll-margin-top: 150px; 
}


.h{
  color: var(--txt);
  margin-left: 1rem;
  font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.homee{
  justify-content: center;
align-items: center;
 display: block;
 height: 10px;
 width: 10px;
}
.txt-color{
  margin-top: 2em;
  padding-top: auto;
  overflow: hidden;
  font-size: x-large;
  color:  var(--txt);
  display: block;
  /* flex-wrap: wrap; */
  /* grid-template-rows: repeat(2,100px); */
    /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)) ; */
}
.git{
  /* grid-row: span 2; */
  /* grid-column: span 2; */
  /* justify-self: center; */
  align-self: center;
  text-align: center;
}
.linkedin{
  /* grid-row: span 2; */
  /* grid-column: span 2; */
  /* justify-self: center; */
  align-self: center;
  text-align: center;
}
a[href="https://www.github.com/georgemois23"] #imgg {
  margin: 0 auto;
}
a[href="https://www.github.com/georgemois23"]  {
  display: block;
  text-align: center;
  height: 100px;
}
a[href="https://www.linkedin.com/in/george-moysiadis/"] #imgg {
  margin: 0 auto;
}
.insta{
  text-decoration: none;
  color: var(--txt);
  cursor:default;
}


#imgg:hover{
  transition: 100ms ease;
  scale: 1.1;
}
#imgg1:hover{
  transition: 100ms ease;
  scale: 1.1;
}
#imgg1{
  transition: 900ms ease-out;
  scale: 1;
}
#img{
  transition: 200ms ease-out;
  scale: 1;
}
a[href="https://www.linkedin.com/in/george-moysiadis/"]  {
  display: block;
  text-align: center;
  height: 50px;
}
#projects{
  margin-top: 8rem;
  scroll-margin-top: 50px; 
  /* width: 100vw; */
  height: 800px;
  /* border: 2px solid black; */
}
.first-section-content{
  padding-top: 5%;
  background-color: var(--backg); 
  padding: 0;
    margin: 0;
    margin-top: 0;
    /* padding-left: 10px; */
    padding-bottom: 120px;
   
}



.active {
  /* background-color:black; */
  /* border-radius: 15px; */
    /* border-style:solid; */
    /* border-color: rgb(93, 23, 93); */
    /* border-bottom: #240b36; */
    /* border-top: #240b36; */
}
.x{
  color: var(--txt);
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: large;
  padding: 10px;
  top:0px;
  right: 5px;
  margin-top: 1px;
  line-height: normal;
  position: fixed;
  user-select: none;
}

#hid{
  display: none;
  position:fixed;
  top: 0rem;
  left: 6.9rem;
  background-color: var(--txt);
  border-radius: 10px;
}

#hid a {
  text-decoration: none;
  color: var(--backg);
}
 .logo{
  color: var(--txt);
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: large;
  padding: 10px;
  /* text-align: center; */
  top:0px;
  left: 5px;
  /* margin: 0 15px; */
  margin-top: 1px;
  /* width:60%; */
  line-height: normal;
  /* justify-content: flex-start; */
  
  position: fixed;
  user-select: none;

}

.typed-cursor{
  opacity: 1;
}

.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Miracode'; /* Name your font family */
  src: url("/other-pages/Miracode.ttf");}

 #george{
  color: var(--txt);
  font-family: "Advent Pro", sans-serif;
  font-size: 60px;
 } 


 /* .texture {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(-50%);
  z-index: -1;
}



.hKaeJX {
  position: absolute;
  inset: 0px;
  background-color: white;
  background-image: url(https://featureapps.volkswagen.co.uk/feature-apps-assets/fa-yourwagen-vwpc/057eee2…/images/background-texture.png);
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 300%;
  z-index: -1;
} */

.texture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: repeat-y; /* Repeat the image vertically */
    background-attachment: fixed; /* Fix the background image in the viewport */
}


.hand{
  font-family: "Miracode";
  font-weight: 600;
  font-style: normal;
  color: var(--txt);
}
/*body {
  margin: 0;
  padding: 0;
   overflow-y: auto;
  overflow-x: hidden; 
  
}*/
/* .container{
  /* padding-top: 0; 
  margin-top: 100px;
  font-size: xx-large;
  height: 100vw; /* Set height to 100% of viewport width 
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: top right;
}
.container #cont1 {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  background-color: #991717;
  
}
.container #cont1 div {
  padding: 0;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}
.container > div {
  height: auto;
  /* font-size: xx-large;  
  margin-top: 700px;
  transform: rotate(90deg);
  transform-origin: top right;
}
.container vagos {
  height: 300px;
  width: 600px;}  */

header{
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Advent Pro", sans-serif;
}



/* @media all and (min-width:570px) {
  .navigation  {
    gap: 50px;
  }} 
 @media all and (max-width:500px) {
  .navigation  {
     flex-direction: column;
      flex-wrap: wrap;
      padding: 0;  
  }}
@media all and (max-width:200px) {
  .navigation  {
     flex-direction:row;
      
      padding: 0;  
  }} */




.typing-text {
  border-right: 5px solid;
  /* df */
    white-space: nowrap; /*Keep text on one line*/
    flex-direction: column;
    width: 100%;
    overflow: hidden; /* Hide overflowing text */
    animation: 
    typing 7s steps(86),
    cursor1 7s step-end  alternate;
}

@keyframes cursor1{
  40% {border-color: transparent;}
}




/* Keyframes for the typing animation */
@keyframes typing {
    from { width: 0} 
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--txt);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--txt);
}
.hh1{
    /* padding-top: 20px;
    padding-left: 10px; */
    /* float: left; */
    display: inline-block;
    color: var(--txt);
    font-family: "Advent Pro", sans-serif;
}

.name{color: var(--txt);
  font-family: "Syne", sans-serif;}


@keyframes slideUp {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideRight {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

  /* main{
    /* padding: auto; 
    
    background-size:auto;
    width: 100%; 
    height: 100%;
  } */
  .fade-in-out {
    animation: fadeIn 5s ; /* 3s duration, infinite loop */
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start with transparent */
    }
    50% {
      opacity: 1; /* Fade in */
    }}
 
  .advent-pro{
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

  #clr{
    position: fixed;
    right: 0rem;
    top:0.5rem;
    cursor: pointer;
    color: var(--backg);
    background-color:var(--txt);
    color: var(--backg);
    padding: 16px 16px 16px 16px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clr > img {
    display: inline-block;
    height: 30px;
    width: 30px;
    
  }

  #cv{
    letter-spacing: 1px;
    scale: 1;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }

  #cv:hover {
    padding: 19px 22px; /* Slightly larger padding on hover */
  }
  
  /* Keyframes for scaling animation */
  @keyframes scaleAnimation {
    from {
      transform: scale(1); /* Start at normal size */
    }
    to {
      transform: scale(1.1); /* Scale up to 110% */
    }
  }

  /* #cv:hover{
    font-size: 14px;
    font-weight: 900;
    scale: 1.05;
    transition: 100ms ease-in-out;
  } */
/*   
  .noise-background {
    position: relative;
  }
  
  .noise-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background-noise.png'); /* Replace 'path/to/noise.png' with the path to your noise image */
    /* opacity: 0.2; Adjust opacity to control the intensity of noise */
    /* pointer-events: none; Ensures the pseudo-element doesn't interfere with mouse events */
  /* } */
  
  html{
    font-family: "Advent Pro", sans-serif;
  font-weight: 400;
    font-style: normal;
    font-size: 22px;
    background-size:auto;
    /* background-color: #240041;  */
     background-color: var(--backg);

    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    /* background: linear-gradient(157deg,#659fdd 0%,#161a38 100%);
     */
     /* background: linear-gradient(291deg, rgba(0,0,128,1) 0%, rgba(63,9,121,1) 46%, rgba(0,212,255,1) 100%); */
     /* background: linear-gradient(123deg, rgba(0,0,128,1) 0%, rgba(154,8,161,1) 46%, rgba(0,212,255,1) 100%); */
     /* --tw-bg-opacity: 1;
     background-color: rgb(236 225 213 / var(--tw-bg-opacity)); */
     
     /* background: #c31432;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #240b36, #c31432);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #240b36, #c31432); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-color: rgba(20, 20, 20); */

    /* background-color: #240041;  */
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png), rgb(20, 20, 20);;*/
    /* animation: 0.2s infinite noise;  */
    /* opacity: 1;  */
  

  }
  

    /* img{
    height: 50px;
    width: 200px;
    position: relative;
    margin: 20px;
  }

  video{
    top: 0;
    left: 0;
    padding:10px;
  }  */

  
  @media all and (max-width:274px) {
    .navigation a {
      font-size: 22px;
    }
  }
  @media all and (max-width:214px) {
    .navigation a {
      font-size: 17px;
    }
  }
  @media all and (max-width:175px) {
    .navigation {
      display: none;
    }
  }
