:root{
    --txt: #025a4e;
    --txt-scn: #2e615e;
    --backg: #ede9de;
    --backg-scn: #e3ddce;
  
  }
.x{
    color: var(--backg);
    border: 2px solid var(--txt);
    border-radius: .5rem;
    background-color: var(--txt);
}

.x a{
    text-decoration: none;
    color: var(--backg);
}

.x:hover{
    background-color: var(--txt-scn);
}
.x a:hover{
    color: var(--backg-scn)}

embed{
    display: block;
    margin-inline: auto;
}

.under-nav{
    font-size: 20px;
    margin: 4rem 3rem;
}

body {
    font-family: Arial, sans-serif;
}

.section-title {
    font-size: 14pt;
    font-weight: 800;
    line-height: 1.5;
    margin-block: 1rem;
}

.job-title,
.course-title {
    font-size: 12pt;
    font-weight: bold;
    line-height: 1.5;
}

.date {
    float: right;
}

.location,
.institution,
.gpa,
.link {
    font-style: italic;
    line-height: 1.5;
}

.list-item {
    margin-left: 18pt;
}

.list-item:before {
    margin-right: 6pt;
}

.center-text {
    text-align: center;
    margin-bottom: 0cm;
}

.contact-info {
    text-align: center;
    margin-bottom: 0cm;
    font-family: "Arial", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}