/* html{
    background-color: lightcyan;
} */
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Miracode'; /* Name your font family */
  src: url("/other-pages/Miracode.ttf");}

.hand{
  font-family: "Miracode";
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left:10px;
    margin-right: 15px;
}

/* navigation start */
.navigation {
  list-style: none;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border-style:solid;
  border-color: rgb(93, 23, 93);
  display: flex;
  justify-content:space-between;
  text-align: center;
  white-space: nowrap;
  width: 60%;
}

.navigation a {
  text-decoration: none;
  display: block;
  top:10px;
  width:60%;
  z-index: 1;
  /* min-height: 50px; */
  margin: 0 15px;
  /* padding-top: 10px; */
  color: darkmagenta; 
  font-weight: 600;
  line-height: normal;
  font-size: xx-large;
}

.navigation a:hover {
  font-weight:800;
        color: rgb(113, 1, 113);
        text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}
/* navigation end */


.typing-text {
  border-right: 5px solid;
  /* df */
    white-space: nowrap; /*Keep text on one line*/
    flex-direction: column;
    width: 100%;
    overflow: hidden; /* Hide overflowing text */
    animation: 
    typing 7s steps(86),
    cursor1 7s step-end  alternate;
}

@keyframes cursor1{
  40% {border-color: transparent;}
}



/* zoom start */
@media all and (max-width:575px) {
  .navigation {
    justify-content:center;
    
    /* font-size: small; */
    
     /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0;  */
  }}
@media all and (max-width:575px) {
  .navigation a {
    justify-content:center;
    
    font-size: smaller;
    
     /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0;  */
  }}
@media all and (max-width:445px) {
  .navigation {
    /* width: 10%; */
    justify-content:center;
    /* font-size: small; */
    
     /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0;  */
  }}
@media all and (max-width: 445px) {
  .navigation a {
    text-align:center;
    /* padding: 10px; */
    font-size: smaller;
    /* background-color: #000; */
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}
@media all and (max-width: 445px) {
  .navigation a:hover {
    text-shadow: -0.5px 0.5px 0 #000,
             0.5px 0.5px 0 #000,
             0.5px -0.5px 0 #000,
             -0.5px -0.5px 0 #000;
    /* background-color: #000; */
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}
@media all and (max-width: 445px) {
  img,video {
    width: 100%;
    height: 100%;
    padding-right:20px;
    
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}
@media all and (max-width: 375px) {
  .navigation a {
    text-align:center;
    justify-content: space-around;
    
    /* background-color: #000; */
    /* padding: 10px; */
    font-size: smaller;
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}
@media all and (max-width: 310px) {
  .navigation a {
    text-align:center;
    justify-content: space-around;
    
    /* background-color: #000; */
    /* padding: 10px; */
    /* font-size: smaller; */
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}
@media all and (max-width: 410px) {
  .navigation  {
    text-align:center;
    justify-content: space-around;
    
    /* background-color: #000; */
    /* padding: 10px; */
    font-size: smaller;
    /* font-size: small; */
    
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
  }}
@media all and (max-width: 375px) {
  .navigation a:hover {
    text-align:center;
    justify-content: space-around;
    text-shadow: -0.5px 0.5px 0 #000,
             0.5px 0.5px 0 #000,
             0.5px -0.5px 0 #000,
             -0.5px -0.5px 0 #000;
    /* background-color: #000; */
    /* padding: 10px; */
    /* font-size: smaller; */
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}

@media all and (max-width: 1600px) {
  .navigation  {
    width: fit-content;
    justify-content:center;
    /* font-size: small; */
    
      /* flex-direction: column;
      flex-wrap: wrap;
      padding: 0; */
  }}
/* zoom end */

/* Keyframes for the typing animation */
@keyframes typing {
    from { width: 0} 
}
/* width */
::-webkit-scrollbar {
  width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
.hh1{
    /* padding-top: 20px;
    padding-left: 10px; */
    /* float: left; */
    display: inline-block;
}




  main{
    /* padding: auto; */
    
    background-size:auto;
    width: 100%; 
    height: 100%;
  }

 

  .advent-pro{
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
  
  html{
    font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
    font-style: normal;
    font-size: 22px;
    background-size:auto;
    width: 100%; 
    height: 100%;
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    /* background: linear-gradient(157deg,#659fdd 0%,#161a38 100%);
     */
     /* background: linear-gradient(291deg, rgba(0,0,128,1) 0%, rgba(63,9,121,1) 46%, rgba(0,212,255,1) 100%); */
     background: linear-gradient(123deg, rgba(0,0,128,1) 0%, rgba(154,8,161,1) 46%, rgba(0,212,255,1) 100%);
     /* --tw-bg-opacity: 1;
     background-color: rgb(236 225 213 / var(--tw-bg-opacity)); */
  }
  

    img{
    height: 50px;
    width: 200px;
    position: relative;
    margin: 20px;
    /* z-index:0; */
  }

  video{
    top: 0;
    left: 0;
    padding:10px;
  } 

  

