/* html{
    background: rgb(0,0,128);
background: linear-gradient(123deg, rgba(0,0,128,0.8996848739495799) 13%, rgba(154,8,161,1) 63%, rgba(0,212,255,1) 100%);
height: 100%;
} */

html{
    font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
    font-style: normal;
    font-size: 22px;
    background-size:auto;
    width: 100%; 
    height: 100%;
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    /* background: linear-gradient(157deg,#659fdd 0%,#161a38 100%);
     */
     /* background: linear-gradient(291deg, rgba(0,0,128,1) 0%, rgba(63,9,121,1) 46%, rgba(0,212,255,1) 100%); */
     /* background: linear-gradient(123deg, rgba(0,0,128,1) 0%, rgba(154,8,161,1) 46%, rgba(0,212,255,1) 100%); */
     /* --tw-bg-opacity: 1;
     background-color: rgb(236 225 213 / var(--tw-bg-opacity)); */
     background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .h{
    color: blanchedalmond;
  }
/* navigation start */
.navigation {
    list-style: none;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    border-style:solid;
    border-color: rgb(93, 23, 93);
    display: flex;
    justify-content:space-between;
    text-align: center;
    white-space: nowrap;
    width: 60%;
    
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    top:10px;
    width:60%;
    z-index: 1;
    
    /* min-height: 50px; */
    margin: 0 15px;
    /* padding-top: 10px; */
    color: darkmagenta; 
    font-weight: 600;
    line-height: normal;
    font-size: xx-large;
  }
  
  .navigation a:hover {
    font-weight:800;
          color: rgb(113, 1, 113);
          text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
  }
  /* navigation end */

  .gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Miracode'; /* Name your font family */
    src: url("/other-pages/Miracode.ttf");}
  

    
/* zoom start */
@media all and (max-width:575px) {
    .navigation {
      justify-content:center;
      height:100%;
      /* font-size: small; */
      
       /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0;  */
    }}
  @media all and (max-width:575px) {
    .navigation a {
      justify-content:center;
      
      font-size: smaller;
      
       /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0;  */
    }}
  @media all and (max-width:445px) {
    .navigation {
      /* width: 10%; */
      height:100%;
      justify-content:center;
      /* font-size: small; */
      
       /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0;  */
    }}
  @media all and (max-width: 445px) {
    .navigation a {
      text-align:center;
      /* padding: 10px; */
      font-size: smaller;
      /* background-color: #000; */
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  @media all and (max-width: 445px) {
    .navigation a:hover {
      text-shadow: -0.5px 0.5px 0 #000,
               0.5px 0.5px 0 #000,
               0.5px -0.5px 0 #000,
               -0.5px -0.5px 0 #000;
      /* background-color: #000; */
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  @media all and (max-width: 445px) {
    img,video {
      width: 100%;
      height: 100%;
      padding-right:20px;
      
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  @media all and (max-width: 375px) {
    .navigation a {
      text-align:center;
      justify-content: space-around;
      
      /* background-color: #000; */
      /* padding: 10px; */
      font-size: smaller;
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  @media all and (max-width: 310px) {
    .navigation a {
      text-align:center;
      justify-content: space-around;
      
      /* background-color: #000; */
      /* padding: 10px; */
      /* font-size: smaller; */
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  @media all and (max-width: 410px) {
    .navigation  {
      text-align:center;
      height:100%;
      justify-content: space-around;
      
      /* background-color: #000; */
      /* padding: 10px; */
      font-size: smaller;
      /* font-size: small; */
      
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }}
  @media all and (max-width: 375px) {
    .navigation a:hover {
      text-align:center;
      justify-content: space-around;
      text-shadow: -0.5px 0.5px 0 #000,
               0.5px 0.5px 0 #000,
               0.5px -0.5px 0 #000,
               -0.5px -0.5px 0 #000;
      /* background-color: #000; */
      /* padding: 10px; */
      /* font-size: smaller; */
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  
  @media all and (max-width: 1600px) {
    .navigation  {
        height:100%;
      width: fit-content;
      justify-content:center;
      /* font-size: small; */
      
        /* flex-direction: column;
        flex-wrap: wrap;
        padding: 0; */
    }}
  /* zoom end */